#contenido 
{
	clear: both;
	text-align: center;
	margin: 10 auto;
	margin-top: 185px;
	padding: 8px;
	box-sizing: border-box;
	padding: 20px;
}
.notificacion {
	width: 30%;
	padding: 15px;
	margin: 0 auto;
	color: #000;
	background: rgba(255,255,255,95);
	font-weight: bold;
	text-align: center;
    margin-bottom: 10px;
    cursor: default;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
	border: 1px solid #aaa;
}
fieldset {
	display: inline-block !important;
	padding: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box   ;
    display: inline-block;
    text-align: center;
    color: #000;
    font-weight: bold;
    margin: .5%;
    margin-top: 20px;
    border: 2px solid #aaa;
    background: rgba(255,255,255,95);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}
fieldset header {
	margin-bottom: 20px;
	padding-bottom:4px;
    border-bottom: 2px solid #eee;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}
fieldset:hover header 
{
    border-bottom: 2px solid #000;    
}
fieldset:hover {
	border: 2px solid rgba(0, 0, 0, 0.8);
}
fieldset input {
	margin: 1.5%;
}
fieldset section label.error, fieldset label.error {
	padding: 5px;
	color: #FFF;
	background: rgba(255,0,0,.6);
	margin-bottom: 5px;
	display: block;	
	text-align: center;
	font-weight: bold;
	font-size: .7em;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


fieldset#registro section input:last-child,
fieldset#login section input:last-child,
fieldset input:last-child, 
#btnEditar,
#btnAgregar,
#btnEliminar , 
.linkPanel{
	display: block;
	width: auto;
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 14px;
	color: #000;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 1px;
	border: 2px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(255,255,255,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(0,0,0,0.8),
		0px 1px 0px rgba(255,255,255,1);
	cursor: pointer;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

fieldset#registro section input:last-child:hover,
fieldset#login section input:last-child:hover, 
fieldset input:last-child:hover, 
#btnEditar:hover, 
#btnAgregar:hover,
#btnEliminar:hover , 
.linkPanel:hover
{
    border: 2px solid #000;
}

#btnEditar, #btnEliminar, #btnAgregar, #btnHabilitar { 
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-left: 8px;
}

fieldset .required {
	border: 2px solid #eee;
	padding: 5px;
	color: #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


fieldset .required:focus
{
	color: #000;
	border-color: rgba(0, 0, 0, 1);
}


select {
	padding: 6px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-right: 8px !important;
	 color: #9E15BA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    background: #FFF url('/media/arrow.png') no-repeat right center !important;
	 -moz-appearance: none;
	 -webkit-appearance: none;
	 appearance: none;
}


@media (min-width: 900px)
{
	fieldset {
		width: 48%;
		vertical-align: top;
	}	
}

@media (max-width: 900px) 
{ 
	fieldset {
		width: 48%;
		vertical-align: top;
	}
}

@media (max-width: 550px)
{
	fieldset {
		width: 100%;
		vertical-align: top;
	}
	.notificacion {
		width: 50% !important;
	}
	#btnEditar, #btnEliminar, #btnAgregar, #btnHabilitar { 
		margin-top: 10px !important;
	}
	.linkPanel {
		text-decoration: none;
		display: inline-block !important;
		text-align: center;
		width: 95% !important;
	}

}